%script#colorTemplate{ :type => "text/html" }
	%input.preview{ :style => "background-color: {{rgba}}; color: {{textColor}}", :value => "{{color}}", :name => "color" }
	%table
		%tr
			%th{ :scope => "row" }
				%label{ :for => "red"} Red:
			%td
				%input{ :type => "range", :min => 0, :max => 255, :value => "{{r}}", :name => "r" }
			%td.num
				%input#red{ :type => "number", :min => 0, :max => 255, :value => "{{r}}", :name => "r" }
		%tr
			%th{ :scope => "row" }
				%label{ :for => "green"} Green:
			%td
				%input{ :type => "range", :min => 0, :max => 255, :value => "{{g}}", :name => "g" }
			%td.num
				%input#green{ :type => "number", :min => 0, :max => 255, :value => "{{g}}", :name => "g" }
		%tr
			%th{ :scope => "row" }
				%label{ :for => "blue"} Blue:
			%td
				%input{ :type => "range", :min => 0, :max => 255, :value => "{{b}}", :name => "b" }
			%td.num
				%input#blue{ :type => "number", :min => 0, :max => 255, :value => "{{b}}", :name => "b" }

		%tr
			%th{ :scope => "row" }
				%label{ :for => "alpha"} Opacity:
			%td
				%input{ :type => "range", :min => 0, :max => 100, :value => "{{a}}", :name => "a" }
			%td.num
				%input#alpha{ :type => "number", :min => 0, :max => 100, :value => "{{a}}", :name => "a" }
	%p.commit
		%button.cancel Cancel
		%button.ok OK
	%span.tr
		%span
