%script#settingsTemplate{ :type => "text/html" }
	%ul
		<@ _.each(settings, function(v, k) { var field = helpers.getField(k, v), text = helpers.titleCase(k); @>
		%li
			%label.key{ :for => "main_{{k}}", :title => "{{text}}" } {{text}}:
			%span.field
				{{field}}
				%button.delete{ "data-key" => "{{k}}", :title => "Delete the {{text}} property." } Delete
		<@ });@>
